/* Reset de estilos predeterminados del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Contenedor principal para centrar y dar espacio */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Responsive Design: Media Queries */
@media (max-width: 700px) {
    #sales-form, #order-summary, #item-log {
        max-width: 100%;
        padding: 15px;
    }

    #sales-form input[type="text"], #awarded-person-select {
        width: 100%;
    }

    #person-entry input[type="text"] {
        width: calc(100% - 20px); /* Adjusting for padding */
    }

    #person-entry button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Improved UI styles */
#sales-form, #order-summary, #item-log {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#sales-form input[type="text"], #awarded-person-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#sales-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sales-form button:hover {
    background-color: #4cae4c;
}

/* Estilos específicos para botones */
#clear-history-button {
    background-color: #d9534f;
}

#export-history-button, #export-totals-button, #edit-person-button {
    background-color: #f0ad4e;
}

#person-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#person-entry input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

#person-entry button {
    flex-basis: 35%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
