body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#order-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Style for the "View History" and "Back to Total Prices" buttons */
button.view-history-button,
button.back-button {
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

button.view-history-button:hover,
button.back-button:hover {
    background-color: #0056b3;
}

#order-list {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 20px;
}
/* Style for the "Borrar Prenda" button */
button.remove-order-button {
    background-color: #dc3545; /* Color de fondo rojo (puedes cambiarlo) */
    color: #fff; /* Color de texto blanco */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

button.remove-order-button:hover {
    background-color: #bb2d3b; /* Cambia el color de fondo al pasar el mouse */
}

/* Style for the total sales amount div */
#total-sales {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
}

